* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: black;
}

section {
  width: 100%;
  height: 100vh;
  background-color: aqua;
  margin-top: 5rem;
}

.main__section {
  display: grid;
  grid-template-rows: 30% 1fr;
  gap: 3rem;
  padding: 0 0;
}

.main__section2 {
  display: grid;
  grid-template-rows: 1fr 30%;
  gap: 3rem;
  padding: 0 0;
}

div {
  width: 100%;
  height: 50%;
  background-color: rgb(190, 190, 190);
  border: 2px solid black;
}

.section__two {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section__one {
  display: grid;
  grid-template-columns: 1fr;
}
