* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 20% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 20%;
  gap: 1rem;
}
.h {
  height: 30vh;
  width: 100%;
}
.h1 {
  height: 50vh;
  width: 100%;
}
.d1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
div {
  background-color: aqua;
}
