.topNav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 10%;
  border: 1px solid red;
}

.topNav__container > h2 {
  font-size: 2.3rem;
  font-weight: 400;
}

.topNav__container > .input-box {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.searchbar {
  padding: 10px 25px;
  width: 40rem;
  border-radius: 7px;
  background-color: var(--white-dark-color);
}

.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/*  ============LEFT SIDE BAR ================= */
.left-sideNavbar__container {
  display: flex;
  width: 20rem;
  padding: 0.4rem 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 4rem;
  left: 0;
  background-color: white;
}
.right-sideNavbar__container {
  display: flex;
  width: 20rem;
  padding: 0.4rem 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 4rem;
  right: 0;
  background-color: white;
}

/*  ==============Main Box =================== */
.main__container {
  background-color: red;
  min-height: 100vh;
  width: 45rem;
  margin: 0 auto;
}

/*=========contact page ===========*/
.contact__container {
  height: 100vh;
  width: 100%;

  padding: 2rem;
}
.sec1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sec1 h2 {
  font-size: 2.2rem;
}
#email {
  font-size: 1.4rem;
  font-weight: 700;
}
.email_items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.email_items p {
  display: flex;
  gap: 0.7rem;
}
.sec2 {
  height: 30rem;
  width: 70%;
  margin-top: 1rem;
  padding: 1rem 2rem;
}
.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.content1 .input_box {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 1rem;
}
.content1 input {
  padding: 0.5rem 2rem;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
}
.content1 label {
  font-size: 1.2rem;
  font-weight: 600;
}
.sec2 label {
  font-size: 1.2rem;
  font-weight: 600;
}

.sec2 .message {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}
.message textarea {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
}
.sec2 .btn1 {
  padding: 0.7rem 2rem;
  background-color: black;
  color: aliceblue;
  font-size: 1rem;
  border-radius: 8px;
  margin-top: 1.3rem;
  transition: all 0.3s linear;
}
.sec2 .btn1:hover {
  background-color: whitesmoke;
  color: black;
}
/*======saved post ==========*/
.saved__container {
  width: 100%;
  margin: 0 auto;
}
.saved__content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 1.4rem 2rem;
}

.post {
  width: 100%;
}
.post img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .saved__content {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .saved__content {
    grid-template-columns: 1fr;
  }
}
